body, html
{
  width: 100%;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 12pt;
  padding: 0;
  margin: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
  border: none;
}

h6 > a
{
  color: white;
}

.header
{
  margin: 0;
  padding: 20px 20px;
  color: #fff;
  background: #00ffff;
}

#info
{
  padding: 20px;
}

a.primary
{
  display: inline-block;
  position: relative;
  margin-top: 20px;
  padding: 20px 20px;
  color: #fff;
  background: #00ffff;
  text-decoration: none;
  font-weight: bold;
}

a.primary:hover
{
  background: #00cccc;
  cursor: pointer;
}

#count
{
  position: absolute;
  bottom: 1em;
  right: 1em;
}
